login:
<form action="/user/login" method="post">
    <input placeholder="email" type="text" name="email" id="title">
    <input placeholder="password" type="text" name="password" id="">
    <input type="submit" value="enter">
</form>

signup:
<form action="/user/signup" method="post">
    <input placeholder="name" type="text" name="name">
    <input placeholder="email" type="text" name="email" id="">
    <input placeholder="password" type="text" name="password" id="">
    <input placeholder="age" type="text" name="age" id="">
    <input placeholder="role" type="text" name="role" id="">
    
    <input type="submit" value="enter">
</form>

<a href="/user/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>